:root {
  --darkerGrey: #0b132b;
  --darkGrey: #1c2541;
  --yellow: #d4b52f;
  --green: #509d77;
  --pink: #d97ab5;
  --blue: #45a0ec;
  --purple: #9e87cb;
  --red: #d66f75;
  --grey: #83a1bb;
  --white: #ffffff;
}

.detail_performance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.tailleimg{
  width: 300px !important;
  height: 300px !important;
}


#titre{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin-bottom: 50px;
}

#titre h3 {
  color: var(--blue);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
}

.date1 {
  color: var(--blue);
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  
}

.versus1 {
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}


#winner1 { 
  border: solid;
  border-width: 2px;
  border-color: var(--green);
}

#tableau_perf{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  margin-top: 50px;
}

#perfo{
  color:var(--purple);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 25px;
}

table {
    border-collapse: collapse;
    border:1px solid var(--darkGrey);
    width:70%;
    margin-bottom: 20px;
    
}

.intitule ,.cellule {
    
    border-bottom: 1px solid var(--darkGrey);    
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--darkGrey);
    text-align: center;
    
}

.intitule{
  font-family: "Roboto", sans-serif;  
  font-size: 16px;
  color:#ffffff;
  padding-bottom:15px;
  
}

.cellule{
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0px;
}

#nickname_perfo{
  color:#d97ab5;
}

#team_perfo{
  color: #d4b52f;
}

#autres_perfo1{
  color:white;
}

#autres_perfo2{
  color:white;
}


