{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header-admin.html.twig" %}
{% endblock %}

{% block main %}
    <main class="container py-5">
        <h1>Détails utilisateur</h1>
        <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Nom : {{users.firstName}} {{users.lastName}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Email : {{users.email}}</h6>
                <p class="card-text">Role : {{users.role}}</p>
                <a href="index.php?route=update&id=" class="btn btn-success">Modifier</a>
                <a href="index.php?route=delete&id=" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    </main>
{% endblock %}