:root {
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --green: rgba(0, 100, 102, 1);
    --dark-green: rgba(11, 82, 91, 1);
    --darker-green: rgba(27, 58, 75, 1);
    --dark-blue: rgba(39, 38, 64, 1);
    --purple: rgba(77, 25, 77, 1);
    --background-gradient : linear-gradient(to bottom, rgba(27, 58, 75, 0.9), rgba(39, 38, 64, 0.9), rgba(77, 25, 77, 0.9));
    --background-gradient2 : linear-gradient(to bottom, rgba(77, 25, 77, 1), rgba(39, 38, 64, 1), rgba(27, 58, 75, 1));
    --background-gradient3 : linear-gradient(to bottom, rgba(27, 58, 75, 1), rgba(39, 38, 64, 1), rgba(77, 25, 77, 1));

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
}

body{
    text-align: center;
}

/* header */
header {
    background-color: var(--dark-blue);
    text-transform: uppercase;
}

nav {   
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

nav img{
    width: 70px;
    margin-top: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 150px;
}

ul li{
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 400;
}


/* intro */
.intro{
    display: flex;
    flex-direction: column;
    background-image: var(--background-gradient), url("../images/cemetery.jpeg");
    background-size: cover;
    background-position: center;
    height: 85vh;
    align-items: center;
    justify-content: center;
}

.intro img{
    width: 300px;
}

.intro h2{
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
}

.intro h3{
    margin-top: 70px;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 300;
}


/* nos-services */

.nos-services p{
    padding-top: 80px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.nos-services {
    background: var(--background-gradient2);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.service-card {
    overflow: hidden; 
    display: flex; 
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.service-card img {
    width: 170px;     
    height: 170px;   
    object-fit: cover;   
}

.card-content {
    padding: 15px;
    text-align: center;   
}

.card-content h2{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.card-content h3{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 50px;
}
.card-content h4{
    color: #fff;
    font-weight: 300;
}






/* footer */
footer {
    background-color: var(--dark-blue);
    text-transform: uppercase;
    padding-bottom: 20px;
}

footer img{
    margin-bottom: 10px;
}

footer h2{
    font-size: 10px;
}