{% extends "layout.html.twig" %}

{% block main %}
    <main id="blog">
        <ul>
            <li>
                <article>
                    <header>
                        <h2>
                            Titre de l'article 1
                        </h2>
                    </header>
                    <section>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Résumé de l'article 1
                        </p>
                    </section>
                    <footer>
                        <a href="">Lire l'article complet</a>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h2>
                            Titre de l'article 2
                        </h2>
                    </header>
                    <section>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Résumé de l'article 2
                        </p>
                    </section>
                    <footer>
                        <a href="">Lire l'article complet</a>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h2>
                            Titre de l'article 3
                        </h2>
                    </header>
                    <section>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Résumé de l'article 3
                        </p>
                    </section>
                    <footer>
                        <a href="">Lire l'article complet</a>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h2>
                            Titre de l'article 4
                        </h2>
                    </header>
                    <section>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Résumé de l'article 4
                        </p>
                    </section>
                    <footer>
                        <a href="">Lire l'article complet</a>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h2>
                            Titre de l'article 5
                        </h2>
                    </header>
                    <section>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Résumé de l'article 5
                        </p>
                    </section>
                    <footer>
                        <a href="">Lire l'article complet</a>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h2>
                            Titre de l'article 6
                        </h2>
                    </header>
                    <section>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Résumé de l'article 6
                        </p>
                    </section>
                    <footer>
                        <a href="">Lire l'article complet</a>
                    </footer>
                </article>
            </li>
        </ul>
    </main>
{% endblock %}
