:root {
  --darkerGrey: #0b132b;
  --darkGrey: #1c2541;
  --yellow: #d4b52f;
  --green: #509d77;
  --pink: #d97ab5;
  --blue: #45a0ec;
  --purple: #9e87cb;
  --red: #d66f75;
  --grey: #83a1bb;
  --white: #ffffff;
}

._detail_matchs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
._detail_matchs > h3 {
  color: var(--blue);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
}

.date {
  color: var(--grey);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.all-matchs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--darkerGrey);
}

.title {
  color: var(--blue);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
}

.versus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 15px;
  border: solid;
  border-width: 1px;
  border-color: var(--darkGrey);
}

.team-block > img {
  width: 300px;
  height: 300px;
}

#looser {
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-color: var(--darkGrey);
}

#winner {
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-color: var(--green);
}

.container_match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
